PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Laravel Scheduler
* * * * * php /var/www/artisan schedule:run >> /home/multi/LogFiles/Laravel-Scheduler.log 2>&1
# Update OS
0 0 * * 0 sudo apt autoremove && apt autoclean >> /home/LogFiles/OS-Updates.log 2>&1
# Composer Updates
30 0 * * * /usr/bin/composer self-update >> /home/multi/LogFiles/Composer-Updates.log 2>&1
# Update SSL Certificates for nginx
00 20 * * 1 sudo /home/site/run.d/update-ssl-cert.sh >> /home/LogFiles/RenewSSL.log 2>&1
#