PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Laravel Scheduler
* * * * * env -i $(cat /tmp/root_env.txt) www-data php /var/www/artisan schedule:run >> /home/LogFiles/Laravel-Scheduler.log 2>&1
# Update OS
0 0 * * 0 apt autoremove && apt autoclean >> /home/LogFiles/OS-Updates.log 2>&1
# Composer Updates
30 0 * * * sudo -E -u www-data /usr/bin/composer self-update >> /home/LogFiles/Composer-Updates.log 2>&1
# Update SSL Certificates for nginx
00 20 * * 1 /home/site/run.d/update-ssl-cert.sh >> /home/LogFiles/RenewSSL.log 2>&1
#