# Laravel Scheduler
* * * * * cd /home/site/wwwroot && php artisan schedule:run >> /home/LogFiles/Scheduler.log 2>&1
0 0 * * 0 apt autoremove && apt autoclean >> /home/LogFiles/Updates.log 2>&1
30 0 * * * /usr/bin/composer self-update >> /home/LogFiles/Updates.log 2>&1
# Update SSL Certificates for nginx
00 20 * * 1 /home/site/run.d/update-ssl-cert.sh >> /home/LogFiles/RenewSSL.log 2>&1
# Search for new updates in remote repository and update local repository
* * * * * /home/site/run.d/update-repo.sh >> /home/LogFiles/UpdateRepo.log 2>&1
#